.main.container.flexz
  .main__class
    h2.main__title  About me 
    .main__content
      ul 
        li My name is Aliaksei Kryvets. I'm 32 years old and i live in Minsk.
        li I have graduated Minsk Innovation University with a degree in management. Now i'm working in company Gippo as a sector manager.
      h2.main__title Skills
      p Responsive website design using HTML5 and CSS3 
      p Terminal (command line), Git, NPM
      p CSS preprocessors (Scss), HTML preprocessors (Pug/Jade)
      p Development Methodologies (BEM)
      p CSS animation
      p Forming markup (Float, Flexbox, Grid)
  img(src="./assets/imgs/photo.jpeg", alt="avatar" height='300px')  