.main.container   
  h2.main__title  Hello, i'm Alex
  h2.main__title  About me 
  .main__content
    ul
      li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, doloribus!
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, quasi?
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus rerum laboriosam sed, recusandae ab repellat atque et amet quam necessitatibus. 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aut deleniti delectus consectetur dolorem eligendi recusandae suscipit qui est aliquam.