.main.container   
  h2.main__title  Привет, я Алексей
  h2.main__title  О себе 
  .main__content
    ul
      li Закончил курс Frontend lvl1 (HTML/CSS). Сдал и защитил дипломнуб работу. 
      li Поступил на lvl2 Frontend ( JavaScript + React).
    h2.main__title Умения
    p Верстка адаптиных сайтов с использованием HTML5 и CSS3. 
    p Работа в CSS-препроцессоре (Scss) и HTML препроцессоре (Pug)
    p Изучил методологию разработки (БЭМ)
    p Изучил формирование разметки (Float, Flexbox, Grid)