include ../mixins/work.pug

section.main 
    .container 
        h2.main__title Works
        .works
            
            +work({
                link: 'https://alexkrivets.github.io/4-dock-project/build/',
                img: "./assets/imgs/pr4.png",
                tech: 'Techs: HTML, CSS, GULP',
                time: 'Time: 28 hours'
            })
            +work({
                link: 'https://alexkrivets.github.io/3-fruits-and-vegatables/build/',
                img: "./assets/imgs/pr3.png",
                tech: 'Techs: HTML, CSS, GULP',
                time: 'Time: 20 hours'
            })
            +work({
                link: 'https://alexkrivets.github.io/2-royal-park/',
                img: "./assets/imgs/pr2.png",
                tech: 'Techs: HTML, CSS',
                time: 'Time: 16 hours'
            })
            +work({
                link: 'https://alexkrivets.github.io/1-honey-bee/',
                img: "./assets/imgs/pr1.png",
                tech: 'Techs: HTML, CSS',
                time: 'Time: 8 hours'
            })